{
    "version": "2018-05-29",
    "operation": "Query",
    "index": "CleaningRoomID-index",
    "query": {
        "expression": "#CleaningRoomID = :CleaningRoomID",
        "expressionNames": {"#CleaningRoomID": "CleaningRoomID"},
        "expressionValues": {":CleaningRoomID": $util.dynamodb.toDynamoDBJson("${ctx.args.cleaningRoomID}")}}
}