{
    "version": "2018-05-29",
    "operation": "Query",
    "index": "CleanerID-index",
    "query": {
        "expression": "#CleanerID = :CleanerID",
        "expressionNames": {
            "#CleanerID": "CleanerID"
        },
        "expressionValues": {
            ":CleanerID": $util.dynamodb.toDynamoDBJson("${ctx.args.cleanerID}"),
        }
    },
}