{
    "version": "2018-05-29",
    "operation": "Query",
    "index": "ScoreItemIDindex",
    "query": {
        "expression": "#PK = :PK",
        "expressionNames": {
            "#PK": "ScoreItemID"
        },
        "expressionValues": {
            ":PK": $util.dynamodb.toDynamoDBJson("${ctx.args.scoreItemID}"),
        }
    },
}